<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Apartment</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>admin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.practice2.user.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HouseAddServlet</servlet-name>
    <servlet-class>com.practice2.house.servlet.HouseAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseAddServlet</servlet-name>
    <url-pattern>/HouseAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseShowServlet</display-name>
    <servlet-name>HouseShowServlet</servlet-name>
    <servlet-class>com.practice2.house.servlet.HouseShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseShowServlet</servlet-name>
    <url-pattern>/HouseShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseUpdateServlet</display-name>
    <servlet-name>HouseUpdateServlet</servlet-name>
    <servlet-class>com.practice2.house.servlet.HouseUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseUpdateServlet</servlet-name>
    <url-pattern>/HouseUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseDeleteServlet</display-name>
    <servlet-name>HouseDeleteServlet</servlet-name>
    <servlet-class>com.practice2.house.servlet.HouseDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseDeleteServlet</servlet-name>
    <url-pattern>/HouseDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseEditServlet</display-name>
    <servlet-name>HouseEditServlet</servlet-name>
    <servlet-class>com.practice2.house.servlet.HouseEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseEditServlet</servlet-name>
    <url-pattern>/HouseEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RectShowServlet</display-name>
    <servlet-name>RectShowServlet</servlet-name>
    <servlet-class>com.practice2.rect.servlet.RectShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RectShowServlet</servlet-name>
    <url-pattern>/RectShowServlet</url-pattern>
  </servlet-mapping>
<!--   <servlet>
    <description></description>
    <display-name>SafeServlet</display-name>
    <servlet-name>SafeServlet</servlet-name>
    <servlet-class>SafeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SafeServlet</servlet-name>
    <url-pattern>/SafeServlet</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>LesseeShowServlet</display-name>
    <servlet-name>LesseeShowServlet</servlet-name>
    <servlet-class>com.practice2.lessee.servlet.LesseeShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LesseeShowServlet</servlet-name>
    <url-pattern>/LesseeShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LesseeAddServlet</display-name>
    <servlet-name>LesseeAddServlet</servlet-name>
    <servlet-class>com.practice2.lessee.servlet.LesseeAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LesseeAddServlet</servlet-name>
    <url-pattern>/LesseeAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LesseeDeleteServlet</display-name>
    <servlet-name>LesseeDeleteServlet</servlet-name>
    <servlet-class>com.practice2.lessee.servlet.LesseeDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LesseeDeleteServlet</servlet-name>
    <url-pattern>/LesseeDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LesseeEditServlet</display-name>
    <servlet-name>LesseeEditServlet</servlet-name>
    <servlet-class>com.practice2.lessee.servlet.LesseeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LesseeEditServlet</servlet-name>
    <url-pattern>/LesseeEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LesseeUpdateServlet</display-name>
    <servlet-name>LesseeUpdateServlet</servlet-name>
    <servlet-class>com.practice2.lessee.servlet.LesseeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LesseeUpdateServlet</servlet-name>
    <url-pattern>/LesseeUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RectAddServlet</display-name>
    <servlet-name>RectAddServlet</servlet-name>
    <servlet-class>com.practice2.rect.servlet.RectAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RectAddServlet</servlet-name>
    <url-pattern>/RectAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RectDeleteServlet</display-name>
    <servlet-name>RectDeleteServlet</servlet-name>
    <servlet-class>com.practice2.rect.servlet.RectDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RectDeleteServlet</servlet-name>
    <url-pattern>/RectDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdddCookieServlet</display-name>
    <servlet-name>AdddCookieServlet</servlet-name>
    <servlet-class>com.practice3.AdddCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdddCookieServlet</servlet-name>
    <url-pattern>/AdddCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseDetailServlet</display-name>
    <servlet-name>HouseDetailServlet</servlet-name>
    <servlet-class>com.practice2.house.servlet.HouseDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseDetailServlet</servlet-name>
    <url-pattern>/HouseDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContractShowServlet</display-name>
    <servlet-name>ContractShowServlet</servlet-name>
    <servlet-class>com.practice2.contract.servlet.ContractShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractShowServlet</servlet-name>
    <url-pattern>/ContractShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContractAddServlet</display-name>
    <servlet-name>ContractAddServlet</servlet-name>
    <servlet-class>com.practice2.contract.servlet.ContractAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractAddServlet</servlet-name>
    <url-pattern>/ContractAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContractUpdateServlet</display-name>
    <servlet-name>ContractUpdateServlet</servlet-name>
    <servlet-class>com.practice2.contract.servlet.ContractUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractUpdateServlet</servlet-name>
    <url-pattern>/ContractUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContractDeleteServlet</display-name>
    <servlet-name>ContractDeleteServlet</servlet-name>
    <servlet-class>com.practice2.contract.servlet.ContractDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractDeleteServlet</servlet-name>
    <url-pattern>/ContractDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContractEditServlet</display-name>
    <servlet-name>ContractEditServlet</servlet-name>
    <servlet-class>com.practice2.contract.servlet.ContractEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractEditServlet</servlet-name>
    <url-pattern>/ContractEditServlet</url-pattern>
  </servlet-mapping>
</web-app>