<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Apartment</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>admin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.practice2.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HouseShowServlet</servlet-name>
    <servlet-class>com.practice2.servlet.HouseShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseShowServlet</servlet-name>
    <url-pattern>/HouseShowServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseShowServlet</servlet-name>
    <url-pattern>/HouseAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseShowServlet</servlet-name>
    <url-pattern>/HouseDeleteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseShowServlet</servlet-name>
    <url-pattern>/HouseDetailServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseShowServlet</servlet-name>
    <url-pattern>/HouseEditServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseShowServlet</servlet-name>
    <url-pattern>/HouseUpdateServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HouseShowServlet</servlet-name>
    <url-pattern>/HouseSearchServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LesseeShowServlet</servlet-name>
    <servlet-class>com.practice2.servlet.LesseeShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LesseeShowServlet</servlet-name>
    <url-pattern>/LesseeShowServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LesseeShowServlet</servlet-name>
    <url-pattern>/LesseeAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LesseeShowServlet</servlet-name>
    <url-pattern>/LesseeDeleteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LesseeShowServlet</servlet-name>
    <url-pattern>/LesseeDetailServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LesseeShowServlet</servlet-name>
    <url-pattern>/LesseeEditServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LesseeShowServlet</servlet-name>
    <url-pattern>/LesseeUpdateServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogisticalShowServlet</servlet-name>
    <servlet-class>com.practice2.servlet.LogisticalShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogisticalShowServlet</servlet-name>
    <url-pattern>/LogisticalShowServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogisticalShowServlet</servlet-name>
    <url-pattern>/LogisticalAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogisticalShowServlet</servlet-name>
    <url-pattern>/LogisticalDeleteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogisticalShowServlet</servlet-name>
    <url-pattern>/LogisticalDetailServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogisticalShowServlet</servlet-name>
    <url-pattern>/LogisticalEditServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogisticalShowServlet</servlet-name>
    <url-pattern>/LogisticalUpdateServlet.do</url-pattern>
  </servlet-mapping>

  
  
  <servlet>
    <servlet-name>RectShowServlet</servlet-name>
    <servlet-class>com.practice2.servlet.RectShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RectShowServlet</servlet-name>
    <url-pattern>/RectShowServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RectShowServlet</servlet-name>
    <url-pattern>/RectAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RectShowServlet</servlet-name>
    <url-pattern>/RectDeleteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RectShowServlet</servlet-name>
    <url-pattern>/RectDetailServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RectShowServlet</servlet-name>
    <url-pattern>/RectEditServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RectShowServlet</servlet-name>
    <url-pattern>/RectUpdateServlet.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>RectShowServlet</servlet-name>
    <url-pattern>/RectAddFroKey.do</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>RepairShowServlet</servlet-name>
    <servlet-class>com.practice2.servlet.RepairShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepairShowServlet</servlet-name>
    <url-pattern>/RepairShowServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepairShowServlet</servlet-name>
    <url-pattern>/RepairAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepairShowServlet</servlet-name>
    <url-pattern>/RepairDeleteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepairShowServlet</servlet-name>
    <url-pattern>/RepairDetailServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepairShowServlet</servlet-name>
    <url-pattern>/RepairEditServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepairShowServlet</servlet-name>
    <url-pattern>/RepairUpdateServlet.do</url-pattern>
  </servlet-mapping>
     <servlet-mapping>
    <servlet-name>RepairShowServlet</servlet-name>
    <url-pattern>/RepairAddFroKey.do</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
    <servlet-name>ContractShowServlet</servlet-name>
    <servlet-class>com.practice2.servlet.ContractShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractShowServlet</servlet-name>
    <url-pattern>/ContractShowServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContractShowServlet</servlet-name>
    <url-pattern>/ContractAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContractShowServlet</servlet-name>
    <url-pattern>/ContractDeleteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContractShowServlet</servlet-name>
    <url-pattern>/ContractDetailServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContractShowServlet</servlet-name>
    <url-pattern>/ContractEditServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContractShowServlet</servlet-name>
    <url-pattern>/ContractUpdateServlet.do</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ContractShowServlet</servlet-name>
    <url-pattern>/AddFroKey.do</url-pattern>
  </servlet-mapping>

  
  <servlet>
    <description></description>
    <display-name>UserShowServlet</display-name>
    <servlet-name>UserShowServlet</servlet-name>
    <servlet-class>com.practice2.servlet.UserShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserShowServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserDeleteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserDetailServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserEditServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserShowServlet</servlet-name>
    <url-pattern>/UserUpdateServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityShowServlet</display-name>
    <servlet-name>ActivityShowServlet</servlet-name>
    <servlet-class>com.practice2.servlet.ActivityShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityShowServlet</servlet-name>
    <url-pattern>/ActivityShowServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityShowServlet</servlet-name>
    <url-pattern>/ActivityAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityShowServlet</servlet-name>
    <url-pattern>/ActivityDeleteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityShowServlet</servlet-name>
    <url-pattern>/ActivityDetailServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityShowServlet</servlet-name>
    <url-pattern>/ActivityEditServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityShowServlet</servlet-name>
    <url-pattern>/ActivityUpdateServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateCode</display-name>
    <servlet-name>ValidateCode</servlet-name>
    <servlet-class>com.practice2.util.ValidateCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateCode</servlet-name>
    <url-pattern>/code</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleShowServlet</display-name>
    <servlet-name>RoleShowServlet</servlet-name>
    <servlet-class>com.practice2.servlet.RoleShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleShowServlet</servlet-name>
    <url-pattern>/RoleShowServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleShowServlet</servlet-name>
    <url-pattern>/RoleAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleShowServlet</servlet-name>
    <url-pattern>/RoleDeleteServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleShowServlet</servlet-name>
    <url-pattern>/RoleEditServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoleShowServlet</servlet-name>
    <url-pattern>/RoleDetailServlet.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.practice2.servlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
</web-app>